Gestion_de_Casos_T4/venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Django
*.log
*.sqlite3
db.sqlite3
media/
staticfiles/

# IDEs
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

**/migrations/
