# Venv
venv/

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.pyc

# --- Django (Archivos locales de desarrollo) ---
*.log
*.sqlite3
db.sqlite3
.env

# --- Archivos Multimedia y Estáticos locales ---
media/
test_media/
staticfiles/

# --- IDEs y Editores ---
.idea/
.vscode/
*.swp
*.suo
*.ntvs*
*.njsproj
*.sln

# --- Sistema Operativo ---
.DS_Store
Thumbs.db
db.sqlite3
media/
test_media/
staticfiles/
.env

#Selenium
chromedriver.exe

# Archivos de notas locales
PROGRESS.md
